body {
  display: flex;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #100a1c;
  background-image:
    radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
    radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  background-attachment: fixed;
  color: #6cacc5;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 360px;
  margin-top: 100px;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  /* border: 1px solid #F50057; */
  padding: 20px;
  background: rgba(0,0,0,0.3);
}
.MuiInput-underline,
.MuiInput-underline:before {
    color: #fff!important;
    border-bottom: 1px solid #63A1C0;
}

.MuiInputBase-input {
  color: #fff!important;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
  font-size: 16px;
}

.MuiCheckbox-root {
  color: #3f51b5!important;
}

.MuiButton-root.Mui-disabled {
  color: #3f51b5!important;
  opacity: 0.3;
}
